<%- include('inc/header', { title, refresh }); %>
<div class="cols">
    <div class="stats">
        <form action="/dashboard/list/<%= type %>" method="get">
            <h3>Search Engine</h3>
            <label>
                <input type="radio" name="sort" value="activity" <%= sort === 'activity' ? 'checked' : '' %>>
                Sort by activity
            </label>
            <label>
                <input type="radio" name="sort" value="name" <%= sort === 'name' ? 'checked' : '' %>>
                Sort by name
            </label>
            <input placeholder="Search by name" type="text" name="search" value="<%= search || '' %>">
            <input type="submit" value="Apply filters ðŸ”">
        </form>
    </div>
    <div class="wrapper">
        <% for(const item of items){ %>
            <% if(item){ %>
                <%- include('inc/itemCard', { item }); %>
            <% } %>
        <% } %>
    </div>
</div>
<%- include('inc/footer'); %>