<%- include('inc/header', { title, refresh }); %>
<% const icon = user.avatarURL({ dynamic: true, size: 128 }) %>
<div class="wrapper">
    <a class="logo" href="<%= icon %>">
        <img src="<%= icon %>" alt="user avatar" width="128">
        <h3><%= user.username %></h3>
    </a>
    <a href="<%= graph %>" class="graph">
        <img src="<%= graph %>" alt="activity graphic">
    </a>
    <form action="/dashboard/user/<%= user.id %>" method="get" class="auto-form">
        <label>From <input type="date" name="from" value="<%= fromDate %>"></label>
        <label>To <input type="date" name="to" value="<%= toDate %>"></label>
        <label>Div
            <select name="per" required>
                <% for(const indicator of ['DAY','WEEK','MONTH','YEAR']){ %>
                    <option
                        value="<%= indicator %>"
                        <% if(indicator === per){ %>
                            selected
                        <% } %>
                        > by <%= indicator.toLowerCase() %>
                    </option>
                <% } %>
            </select>
        </label>
    </form>
</div>
<%- include('inc/footer'); %>
